 
.leaflet-container .leaflet-control-search {
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	border: 0px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0);
	z-index:10000;	
	margin-left: 0px;
	margin-top: 0px;
	font-family: 'DotGothic16', sans-serif;
	font-weight: 400;

}
.leaflet-control-search.search-exp {/*expanded*/
	background:transparent;
	border: 0px solid rgb(38, 225, 250);
	background-clip: padding-box;	

}
.leaflet-control-search .search-input {
	display:block;
	float:left;
	background: rgba(253, 253, 253, 0.075);
	border:0px solid #666;
	border-radius:0px;
	height:22px;
	padding:0 20px 0 2px;
	margin:0 0;
	width: 180px;
	height: 3.2rem;
	font-size: 20px;
	color: rgb(184, 184, 184);

}
.leaflet-control-search.search-load .search-input {
	background: url('./loader.gif') no-repeat center right #fff;
}
.leaflet-control-search.search-load .search-cancel {
	visibility:hidden;
}
.leaflet-control-search .search-cancel {
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	right:28px;
	margin:6px 0;
	/* background: url('./search.png') no-repeat center center;*/
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;		
}
.leaflet-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.leaflet-control-search .search-cancel span {
	display:none;/* comment for cancel button imageless */
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}
.leaflet-control-search .search-cancel:hover span {
	color:rgb(214, 70, 70);
}
.leaflet-control-search .search-button {
	display:block;
	float:left;
	margin-top: 0px;
	width:3.2rem;
	height:3.2rem;	
	background: url('./search.png') no-repeat center center rgba(12, 13, 14, 0.473);
	border-radius:0px;

}
.leaflet-control-search .search-button:hover {
	background: url('./search.png') no-repeat center center #59cc85;
}
.leaflet-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	float:left;
	list-style: none;
	padding-left: 0;
	min-width:180px;
	max-height:322px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
	margin-top: 5px;
	width: 180px;
	
}
.leaflet-control-search .search-tip {
	margin:2px;
	padding:2px 4px;
	display:block;
	color:rgb(219, 210, 210);
	background: rgba(14, 31, 54, 0.836);
	border-radius:0;
	text-decoration:none;	
	white-space:nowrap;
	vertical-align:center;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 400;

}
.leaflet-control-search .search-button:hover {
	background-color: #0c0b0b85;
}
.leaflet-control-search .search-tip-select
 {
	background-color: rgb(54, 51, 51);
}

.leaflet-control-search .search-tip:hover{
	border:rgb(38, 225, 250) solid 1px ;

}

.leaflet-control-search .search-alert {
	cursor:pointer;
	clear:both;
	font-size: 19px;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	font-weight:bold;
	border-radius:0;
}


